@import 'settings';
@import 'foundation';

table.button table td {
  border-radius: $button-radius;
  border: none;
}

table.button:hover,
table.button:visited,
table.button:active {
  table {
    td {
      background: #6ed14f;
    }
  }
}


.logo-header {}
.calendar-header {
  background: #1cacca;
  &__heading {
    color: white;
  }
}

.container {
  &--no-bg {
    background: none !important;
  }
  &--unsubscribe {
    background: none !important;
  }
}

#logo-header-image {
  width: 165px !important;
}


.text-horizontal-pad {
  padding-left: 20px;
  padding-right: 20px;
}