@import 'settings';
@import 'foundation';

table.button table td {
  border-radius: $button-radius;
  border: none;
}

table.button:hover,
table.button:visited,
table.button:active {
  table {
    td {
      background: #6ed14f;
    }
  }
}

.payment-reminder {
  &__sub-header {
    background: #1cacca;
    h2 {
      color: white;
      margin-bottom: 20px;
    }
  }
  &__calendar {
    margin: 40px 0 30px !important;
  }
  &__button {
    margin-top: 20px !important;
  }
  &__divider {
    margin: 40px auto;
  }
}

.row--logo-header {
  margin: 30px 0 10px;
}

.container {
  &--no-bg {
    background: none !important;
  }
  &--unsubscribe {
    background: none !important;
    margin-top: 20px !important;
  }
}

#logo-header-image {
  width: 165px !important;
}