  <row class="calendar-header">
    <columns small="12" large="12">
      <spacer size="30"></spacer>
      <center>
        <img class="calendar-header__image" src="assets/img/calendar.png" alt="">
      </center>
      <spacer size="20"></spacer>
      <h2 class="calendar-header__heading text-center">
        {{#ifpage 'diy-debt-monthly-budget'}}
          Your {{hb 'month'}} payment plan
        {{/ifpage}}
        {{#ifpage 'diy-debt-payment-reminder-single'}}
          {{{{raw}}}}
            {{#if 'accounts.length === 1'}}
              Upcoming payment reminder
            {{else}}
              Upcoming payments reminder
            {{/if}}
          {{{{/raw}}}}
        {{/ifpage}}
      </h2>
      <spacer size="20"></spacer>
    </columns>
  </row>
