<container class="container--unsubscribe">
  <spacer size="40"></spacer>
  <p class="text-center"><small style="color: #8a8a8a;">
    You've received this {{email_name}} email because you've signed up for a NerdWallet account to help manage your debts. <a href="{{hb 'base_url'}}/home/unsubscribe/?type={{email_type}}&token={{hb 'unsubscribe_token'}}&{{utm}}">Unsubscribe</a> from these types of emails or manage your email communication preferences from your <a href="{{hb 'base_url'}}/home/settings/notifications?{{utm}}">Account Settings</a>.
  </small></p>
  <p class="text-center"><small style="color: #8a8a8a;">NerdWallet | 901 Market St, 6th Floor | San Francisco, CA 94103</small></p>
</container>